@use '../utils/mixins' as *;

.section_title_container {

    display: flex;
    align-items: center;
    justify-content: start;
    gap: .7rem;

    .section_title_box {
        width: 20px;
        height: 40px;
        background-color: var(--red-color);
        border-radius: 5px;

        user-select: none;

        @include respond(tab-port) {
            width: 15px;
            height: 30px;
        }

    }

    h1 {
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--red-color);
        user-select: none;

        @include respond(tab-port) {
            font-size: 1rem;
        }


    }
}