@use "../utils/mixins" as *;


.support_wrapper {

    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-bottom: 15rem;

    .support_container {
        display: flex;

        align-items: center;
        justify-content: space-between;
        gap: 2rem;


        .support_box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;


            .support_box_text {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                text-align: center;

                h1 {
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: var(--text-color);
                }

                p {
                    font-size: 1.2rem;
                    color: var(--text-color);
                }



                @include respond(tab-port) {
                    h1 {
                        font-size: 1.5rem;
                        text-wrap: nowrap;
                    }
                }

                @include respond(phone-sm) {
                    h1 {
                        text-wrap: wrap;
                    }
                }

            }

            .support_box_icon_wrapper {
                position: relative;
                height: 80px;
                width: 80px;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 50%;
                background-color: grey;

                z-index: 1;

                .support_box_icon {
                    font-size: 2rem;
                    color: var(--bg-color);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    background-color: var(--border-color);

                    z-index: -1;
                }
            }
        }


        @include respond(tab-port) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @include respond(phone-sm) {

        margin-bottom: 18rem;

    }
}