.not_found {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-block: 1rem;

    min-height: 100dvh;

    h1 {
        font-family: "IntegralCF";
        font-size: 3rem;
        font-weight: bold;
        color: var(--text-color);

        font-weight: 700;

        text-align: center;

        margin-bottom: 10rem;
    }
}